header {
  background-color: #f37520;

}
header,
header > .container {
  min-height: 64px;
}
session nav {
  background-color: #ededed;
  padding: 2rem;
}


footer {
  background-color: #454545;
  padding: 2rem;
}

@media (min-width: 576px) { 
  section{
    height: calc(100vh - 292px);
  }
}
