body {
  background-color: crimson !important;
}
header {
  margin: 2vh auto !important;
}
header,
nav,
main {
  background-color: whitesmoke;
  min-height: 10vh;
}

nav,
main {
  
  min-height: 82vh;
}



@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
